@model IEnumerable<websiteBALO.Models.SANPHAM>
@using websiteBALO.Models;

@{
    ViewBag.Title = "QUẢN LÝ SẢN PHẨM";
    Layout = "~/Areas/adminbalo/Views/Shared/Adminlayout.cshtml";
}
<center style="color:darkblue">
    <h1><b>👨‍🎓QUẢN LÝ SẢN PHẨM</h1></b>
    <h2>📖</h2>

</center>
